<div class="wrapper">
    <%= render 'navbar' %>
    <%= render 'profile', user: @user %>

    <div class="bio">
        <h4>Bio</h4>
        <p><%= @user.bio %></p>
    </div>

    <div class="posts">
        <p class="posts_title">Posts</p>
        <% @posts.each do |post| %>
            <%= link_to user_post_path(@user, post) do %>
                <%= render 'post', post: post %>
            <% end %>
        <% end %> 
    </div>

    <div class="all_posts">
        <%= link_to 'See all posts', user_posts_path(@user) %>
    </div>
</div>
