<div class="wrapper">

    <%= render 'profile', user: @user %>

    <div class="bio">
        <%= @user.bio %>
    </div>

    <div class="posts">
        <% @posts.each do |post| %>
            <%= link_to user_post_path(@user, post) do %>
                <%= post.id%>
                <%= render 'post', post: post %>
            <% end %>
        <% end %> 
    </div>

    <div>
        <%= link_to 'See all posts', user_posts_path(@user) %>
    </div>
</div>
