<div class="wrapper">
    <div class="post_detail">
        <div class="post_particular">
            <div class="header_line">
                <div class="post_header">
                    <div class="post_title_name">
                        <%= @post.title %> by
                        <%= @user.name%>
                    </div>
                </div>
                <div class="post_stats">
                    <span>Comments:</span>
                    <%= @post.comments_counter%>

                    <span>Likes</span>
                    <%= @post.likes_counter %>

                </div>
            </div>
            <div class="post_body">
                <%= @post.text %>
            </div>
            <div>
            like
            unlike
            comment
            </div>
        </div>
        <div class="comments_body">
            <h3>Comments</h3>
            <% @post.comments.each do |comment| %>
                <%= User.find_by(id: comment.author_id).name %> :
                <%= comment.text%> <br />
            <% end %>
        </div>
    </div>
</div>