<h1>Users</h1>
<div class="users">
    <% @users.each do |user|%>
        <%= link_to "/user/#{user.id}" do %>
            <div class="user-icon">
                <%= user.photo%>
            </div>
            <div class="user-info">
                <%= user.name %>
                <%= user.id%>
                <span>Number of posts</span>
                <%= user.posts_counter%>
            </div>
        <% end %>
        <br />
    <% end %>
</div>
