<p>Show a single user with id</p>

<div class="users">
    <%= @user.photo%>
    <%= @user.name %>
    <span>Posts counter</span>
    <%= @user.posts_counter%>
    <%= @user.bio%>
</div>

<div class="posts">
 <% @posts.each do |post|%>
        <div class="post">
        <%= post.title %><br/>
        <%= post.text %><br />
        <span>comments</span>
        <%= post.comments_counter%>
        <span>Likes</span>
        <%= post.likes_counter%>
        </div>
        <br />
    <% end %>
</div>