<div class="wrapper">
    <%= render 'users/navbar' %>
    <%= render 'users/profile', user: @user %>
    <% @posts.each do |post| %>
        <div class="posts">
            <%= link_to  user_post_path(@user, post) do %>
                <%= render 'users/post', post: post %>
                <div class="comments">
                    <% post.comments.each do |comment| %>
                        <%= render 'comment', comment: comment%>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>

    <div>
        <%= button_to "Pagination" %>
    </div>
</div>