<h1>New post</h1>

<%= form_with model: @post do |form| %>
    <% if @post.errors.any? %>
     <% @post.errors.full_messages.each do |e| %>
      <%= e %>
     <% end %>
    <% end %>

    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>

    <div>
        <%= form.label :text %>
        <%= form.text_field :text %>
    </div>

    <div>
    <%= form.submit%>
    </div>
<% end %>





