<div class="wrapper">
    <%= render 'users/navbar' %>
    <div class="post_show">
        <div class="post">
            <div class="post_detail" >
                <h2 class="post_title"><%= @comments.first.post.title %> by 
                <span class="blue"><%= @comments.first.post.author.name %></span></h2>
                <p class="post_text"><%= @comments.first.post.text %></p>
            </div>

            <div class="trending">
            <span>Comments: <%= @comments.first.post.comments_counter %></span>,
            <span> Likes: <%= @comments.first.post.likes_counter %></span>
            </div>
        </div>

        <div class="comments">
            <% @comments.each do |comment|  %>
                <%= render 'comment', comment: comment %>
            <% end %>
        </div>
    </div>


</div>

